aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
chardet==3.0.4
Click==7.0
dnspython==1.15.0
eventlet==0.24.1
Flask==1.0.2
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
monotonic==1.5
multidict==4.5.2
netifaces==0.10.6
python-engineio==3.0.0
python-socketio==2.1.1
six==1.11.0
socketio==0.1.5
Werkzeug==0.14.1
yarl==1.2.6
