<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Pawning someone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap.css') }}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type=text/css href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link type=text/css href="{{ url_for('static', filename='christmas.css') }}" rel="stylesheet">
</head>
<body>

    <div class="ask-name bg-danger" id="ask-name-wrapper">
        <div id="ask-name-container" class="container">
            <h1 class="text-white">Type your name</h1>
            <small class="text-white">You won't regret it...</small>
            <input type="text" id="ask-name-input" class="form-control" /><br/>
            <button type="submit" id="ask-name-btn" class="btn btn-warning text-white font-weight-bold btn-block">Submit</button>
        </div>
    </div>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-danger border-bottom shadow-sm text-white">
        <h2 class="my-0 mr-md-auto font-weight-bold text-center" style="margin: 0 auto;" id="title">Merry Pawning!</h2>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: transparent !important;">
        <div class="containe  text-centerr">
            <h1 class="display-3 text-white font-weight-bold">Wanna Voodoo someone?</h1>
            <p class="text-white font-weight-bold ">By pressing this button, you are deliberatly voodooing someone. It will roll some dices (or simulate it) and will choose one from 6 scripts to pawn the poor guy...</p>
            <p class="text-white font-weight-bold ">You have an option not to do it..</p>
            <p><a class="btn btn-danger btn-lg" href="#" role="button">Roll the dices &raquo;</a></p>
        </div>
    </div>

    
<div class="santa">
    <div class="santa__hat"></div>
    <div class="santa__head"></div>
    <div class="santa__body"></div>
    <div class="santa__hand">
      <div class="santa__hand-item santa__hand--left">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
      </div>
      <div class="santa__hand-item santa__hand--right">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
      </div>
    </div>
    <div class="santa__leg">
      <div class="santa__leg-item santa__leg-item--left"></div>
      <div class="santa__leg-item santa__leg-item--right"></div>
    </div>
  </div>
          
  

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Developed by sertas crew. Enjoy.</span>
        </div>
    </footer>
      
    <script type=text/javascript src="{{ url_for('static', filename='vendor/jquery.3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='Pawn.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/snowstorm.js') }}"></script>
</body>





