<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pawning someone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/toast/jquery.toast.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='christmas.css') }}">
</head>

<body>

    <div class="ask-name bg-danger" id="ask-name-wrapper">
        <div id="ask-name-container" class="container">
            <h1 class="text-white">Type your name</h1>
            <small class="text-white">You won't regret it...</small>
            <input type="text" id="ask-name-input" class="form-control" /><br />
            <button type="submit" id="ask-name-btn" class="btn btn-warning text-white font-weight-bold btn-block">Submit</button>
        </div>
    </div>
    <div id="ui container-fluid">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-danger border-bottom shadow-sm text-white">
            <h2 class="my-0 mr-md-auto font-weight-bold text-center" style="margin: 0 auto;" id="title">Merry Pawning!</h2>
        </div>
        <div class="">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron text-center" style="background-color: transparent !important;">
                <div class="container">
                    <h1 class="display-3 text-white font-weight-bold">Wanna Voodoo someone?</h1>
                    <p class="text-white font-weight-bold ">By pressing this button, you are deliberatly voodooing
                        someone.
                        It will roll some dices (or simulate it) and will choose one from 6 scripts to pawn the poor
                        guy...</p>
                    <p class="text-white font-weight-bold ">You have an option not to do it..</p>
                    <p><button id="pawn" class="btn btn-danger btn-lg" href="#" role="button">Roll the dices &raquo;</button></p>
                </div>
            </div>


            <div class="santa">
                <div class="santa__hat"></div>
                <div class="santa__head"></div>
                <div class="santa__body"></div>
                <div class="santa__hand">
                    <div class="santa__hand-item santa__hand--left">
                        <div class="finger"></div>
                        <div class="finger"></div>
                        <div class="finger"></div>
                    </div>
                    <div class="santa__hand-item santa__hand--right">
                        <div class="finger"></div>
                        <div class="finger"></div>
                        <div class="finger"></div>
                    </div>
                </div>
                <div class="santa__leg">
                    <div class="santa__leg-item santa__leg-item--left"></div>
                    <div class="santa__leg-item santa__leg-item--right"></div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container">
                <span class="text-muted">Developed by sertas crew ans phil collins. Enjoy.</span>
            </div>
        </footer>
    </div>

    <!-- Audio -->
    <audio class="hidden" id="plucky">
      <source src="/static/sounds/plucky.ogg" type="audio/ogg">
      <source src="/static/sounds/plucky.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>

    <audio autoplay loop>
        <source src="/static/sounds/WhiteChristmas.mp3">
        <source src="/static/sounds/WhiteChristmas.ogg">
    </audio>

    <script type=text/javascript src="{{ url_for('static', filename='vendor/jquery.3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='cookies.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='Pawn.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='cookies.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/snowstorm.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/toast/jquery.toast.min.js') }}"></script>
</body>

</html>