body {
  background: #355261;
}

.santa {
  position: absolute;
  left: 50%;
  bottom: 50px;
  z-index: -50;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.santa__hat {
  position: relative;
  width: 0;
  height: 0;
  left: 50%;
  top: -60px;
  margin-left: -45px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #db5656;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: 1;
}
.santa__hat:after, .santa__hat:before {
  content: "";
  position: absolute;
  background-color: #fff;
}
.santa__hat:after {
  width: 120px;
  height: 30px;
  top: 80px;
  left: -60px;
  border-radius: 5px;
}
.santa__hat:before {
  width: 35px;
  height: 35px;
  left: -18px;
  top: -10px;
  border-radius: 50%;
}
.santa__head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #dbdbdb;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -50px;
}
.santa__head:after {
  content: "";
  width: 120px;
  height: 120px;
  background: #dbdbdb;
  position: absolute;
  left: -10px;
  top: 25px;
  border-radius: 50%;
}
.santa__body {
  width: 425px;
  height: 200px;
  background: #db5656;
  z-index: 1;
  position: relative;
  overflow: hidden;
  border-radius: 0  0 100% 100% / 0 0 200% 200%;
}
.santa__body:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #ebf0ef;
}
.santa__hand {
  position: absolute;
  top: 80px;
  left: 0;
  height: 60px;
  width: 435px;
  z-index: 2;
}
.santa__hand-item {
  width: 45%;
  height: 100%;
  background-color: #db5656;
  position: absolute;
}
.santa__hand-item:after, .santa__hand-item:before {
  content: "";
  position: absolute;
}
.santa__hand-item:after {
  content: "";
  width: 30px;
  height: 100%;
  background: #fff;
}
.santa__hand-item:before {
  left: 0;
  width: 80%;
  height: 100%;
  box-shadow: -4px 3px 6px #ba4945;
}
.santa__hand--left {
  left: 0;
}
.santa__hand--left:after {
  left: 0;
}
.santa__hand--right {
  right: 0;
}
.santa__hand--right:after {
  right: 0;
}
.santa__hand--right:before {
  box-shadow: 4px 3px 6px #ba4945;
  left: inherit;
  right: 0;
}
.santa__hand--right .finger {
  left: inherit !important;
  right: -10px;
  transform: rotate(-180deg);
}
.santa__hand--right .finger:nth-child(2) {
  width: 15px;
  top: 20px;
  right: -15px;
}
.santa__hand .finger {
  width: 10px;
  height: 20px;
  background: #db5656;
  position: absolute;
  left: -10px;
  border-radius: 50% 0 0 50%;
}
.santa__hand .finger:first-child {
  top: 5px;
}
.santa__hand .finger:nth-child(2) {
  width: 15px;
  top: 20px;
  left: -15px;
}
.santa__hand .finger:last-child {
  bottom: 5px;
}
.santa__leg-item {
  width: 50px;
  height: 100px;
  background: #db5656;
  position: absolute;
  bottom: -80px;
}
.santa__leg-item--left {
  left: 125px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  transform: skew(-15deg);
}
.santa__leg-item--right {
  right: 125px;
  -webkit-transform: skew(15deg) rotateY(180deg);
  -moz-transform: skew(15deg) rotateY(180deg);
  transform: skew(15deg) rotateY(180deg);
}
.santa__leg-item:after, .santa__leg-item:before {
  content: "";
  position: absolute;
  bottom: 0;
}
.santa__leg-item:after {
  width: 100%;
  height: 70%;
  background: #000;
  left: 0;
}
.santa__leg-item:before {
  width: 0;
  height: 0;
  left: -50%;
  border-style: solid;
  border-width: 0 0 35px 35px;
  border-color: transparent transparent #000 transparent;
}
